.ui-body-c, .ui-overlay-c {
    background-color: #f1f1f1;
}
a:link{
    text-decoration: none;

}
.list {
    padding: 0;
    margin: 0;
}

.list li {
    background-color: #ffffff;
    list-style: none;
    margin-top: 10px;
    border: 1px solid #bbb;
}

.clear {
    clear: both;
}

.info {
    float: left;
    height: 110px;
    color: #ffffff;
    text-shadow: none;
    width: 70%;

}

.shopname {
    width: 90%;
    margin: 5px auto;
    font-weight: normal;
}

.discount {
    width: 90%;
    margin: 5px auto;
    font-size: 22px;
    font-weight: bold;
    white-space: nowrap;

}

.shoptype {
    width: 90%;
    margin: 5px auto;
    font-weight: normal;
}

.look {
    color: #878481;
    float: left;
    height: 110px;
    line-height: 110px;
    background-color: white;
    margin-left: 6px;
    font-size: 13px;
}
.look a{
    font-size: 16px;
    color: #000000;
}
.square {
    float: left;
    width: 12px;
    height: 110px;
    background-size: 15px 13px;
    background-repeat: repeat-y;
}

.bg_red {
    background-color: #d24161;
}

.bg_orange {
    background-color: #e85e00;
}

.bg_yellow {
    background-color: #F39B00;
}

.bg_green {
    background-color: #7eab1e;
}

.bg_blue {
    background-color: #50add3;
}

.red {
    background-image: -webkit-gradient(linear, 0% 0%, 50% 50%, from(#d24161), color-stop(.99, #d24161), to(transparent)), -webkit-gradient(linear, 50% 50%, 0% 100%, from(transparent), color-stop(.01, #d24161), to(#d24161));

}

.orange {
    background-image: -webkit-gradient(linear, 0% 0%, 50% 50%, from(#e85e00), color-stop(.99, #e85e00), to(transparent)), -webkit-gradient(linear, 50% 50%, 0% 100%, from(transparent), color-stop(.01, #e85e00), to(#e85e00));

}

.yellow {
    background-image: -webkit-gradient(linear, 0% 0%, 50% 50%, from(#F39B00), color-stop(.99, #F39B00), to(transparent)), -webkit-gradient(linear, 50% 50%, 0% 100%, from(transparent), color-stop(.01, #F39B00), to(#F39B00));

}

.green {
    background-image: -webkit-gradient(linear, 0% 0%, 50% 50%, from(#7eab1e), color-stop(.99, #7eab1e), to(transparent)), -webkit-gradient(linear, 50% 50%, 0% 100%, from(transparent), color-stop(.01, #7eab1e), to(#7eab1e));

}

.blue {
    background-image: -webkit-gradient(linear, 0% 0%, 50% 50%, from(#50add3), color-stop(.99, #50add3), to(transparent)), -webkit-gradient(linear, 50% 50%, 0% 100%, from(transparent), color-stop(.01, #50add3), to(#50add3));

}


.yhxs {
    width: 80px;
    background-color: #ffffff;
    position: absolute;
    right: 3px;
    z-index: 10;
    display: none;
    border: 1px solid #2489ce;
}

.yhxs ul {
    padding: 0;
    margin: 0;;
}

.yhxs ul li {
    list-style: none;
    text-align: center;
    border-bottom: 1px solid #b3b3b3;
}

.yhxs ul li a:link {
    color: #000000;
    text-decoration: none;
}